@font-face {
  font-family: Commodore64;
  src: url(../fonts/c64.TTF);
}

body {
  background-color: #f6511d;
  color: whitesmoke;
  font-family: commodore64;
  padding: 10px;
}
/* am having a very hard time creating flexbox code*/

#page {
  display: none;
}

img {
  float: right;
  width: 600px;
}

.number-label {
  background-color: #80AD77;
  padding: 12px;
  border: solid black 2px;
}

.header-button {
  float: right;
  background-color: #FFB400;
  border: black solid 2px;
}

.jumbotron {
  text-align: center;
  background-color: #00A6ED;
  color: whitesmoke;
  font-family: commodore64;
}

#input {
  color: #f6511d;
}

.box {
  font-size: larger;
  background-color: #00A6ED;
  padding: 12px;
  border-radius: 4px;
}

form {
  text-align: center;
  background-color: #FFB400;
}

#output {
  display: none;
  background-color: #7FB800;
  text-align: center;
  max-height: 238px;
  position: relative;
  overflow-x: auto;
}

h6 {
font-size: 24px;
text-align: center;
}

#signiture {
  text-align: center;
  background-color: black;
  width: 300px;
}