body {
  background-color: #f6511d;
  color: whitesmoke;
  font-family: commodore64;
}

img {
  float: right;
  width: 600px;
}

.jumbotron {
  text-align: center;
  background-color: #00A6ED;
  color: whitesmoke;
  font-family: commodore64;
}

#input {
  color: #f6511d;
}

.box {
  font-size: larger;
  background-color: #00A6ED;
  padding: 21px;
  border-radius: 4px;
}

form {
  text-align: center;
  background-color: #FFB400;
}

#output {
  background-color: #7FB800;
  text-align: center;
  max-height: 190px;
  position: relative;
  overflow-x: scroll;
}

h6 {
  text-align: center;
  background-color: black;
}

@font-face {
  font-family: Commodore64;
  src: url(../fonts/c64.TTF);
}

#signiture {
  text-align: center;
  background-color: black;
  width: 300px;
}